-
  var extraCurriculars = {
    ACM: {
      Name: "ACM - Association for Computing Machinery",
      Stats: [
        "VP Finance: May 2013 - May 2015",
        "National ACM Member: August 2013 - August 2015",
        "Member of Student Chapter: August 2012 - Present"
      ]
    },
    Lockpicking: {
      Name: "Longhorn Lockpicking Club",
      Stats: [
        "Webmaster: May 2013 - May 2014",
        "Member: August 2012 - May 2014"
      ]
    }
  }
