-
  var sideprojects = {
    HighLow: {
      Name: "HighLow-NES",
      TabName: "HighLow-NES",
      shortName: "highlownes",
      Images: [
        pathToRoot + "img/sideprojects/highlow-menu.png",
        pathToRoot + "img/sideprojects/highlow-howto.png"
      ],
      Description: "HighLow-NES is a simple NES game written in 8-bit 6502 assembly and meant to be run via a NES emulator or, if flashed to a cart, NES hardware. High Low is a card game in which a player flips over a card, then guesses if the next card will be higher or lower in value. The objective is to achieve the highest streak of successful guesses. This project started in the summer 2013 because I was inspired after playing a homebrew NES game, Battle Kid: Fortress of Peril. I wondered how it was made, and decided to make one myself. For more information on the game or to check out the source code, head to the <a href=\"https://github.com/csheahan/HighLow-NES\">Github page</a>."
    },
    numberTheory: {
      Name: "Number Theory Tkinter App",
      TabName: "Number Theory",
      shortName: "numbertherorytkinter",
      Images: [
        pathToRoot + "img/sideprojects/numbertheory-demo-1.png",
        pathToRoot + "img/sideprojects/numbertheory-demo-2.png"
      ],
      Description: "A Python Tkinter application that demonstrates various number theory problems. I decided to pursue this for 3 main reasons." +
                    "<ol>" +
                      "<li>GUI Programming: I've always been interested in not only creating things, but also creating nice, intuitive designs to display the information to the users. This is an attempt at a fairly simple application to do so.</li>" +
                      "<li>Python Programming: I haven't ever really touched Python as a language in depth, so this application gives me both an excuse and a chance to do so.</li>" +
                      "<li>Number Theory: I took a number theory class at UT and really enjoyed it. Therefore this project allows me to btoh enhance and reinforce my understanding of this subject I enjoyed.</li>" +
                    "</ol>" +
                   "The source code and project can be <a href=\"https://github.com/csheahan/NumberTheoryProblems\">found here</a>."
    },
    website: {
      Name: "Personal Website",
      TabName: "Website",
      shortName: "personalwebsite",
      Description: "The website you are on right now. Right now it is compiled via Jade to allow for creation of HTML via JSON objects with a Bootstrap 3 frontend. In the past I have experimented with parallax scrolling and Yahoo's Pure CSS framework. For the source, check out the <a href=\"https://github.com/csheahan/website-build\">Github page</a>."
    },
    nesPaint: {
      Name: "nesPaint",
      TabName: "nesPaint",
      shortName: "nespaint",
      Images: [
        pathToRoot + "img/sideprojects/nespaint-1.png",
        pathToRoot + "img/sideprojects/nespaint-2.png"
      ],
      Description: "A toy paint-like application to draw backgrounds for NES games instead of having to manually code backgrounds. This also doubled as an investigation into the .chr file format as there was no previous online documentation that I could find on the subject. The source code, application, and .chr documentation can be <a href=\"https://github.com/csheahan/nesPaint\">found here</a>."
    },
    check: {
      Name: "check404",
      TabName: "Check404",
      shortName: "check404",
      Images: [
        pathToRoot + "img/sideprojects/check404-demo.png"
      ],
      Description: "check404 is a simple bash script I created to ensure that the links on my website are valid. Additionally, I used it to explore how to change text color in bash scripts. It was uploaded at the request of a friend, and can be <a href=\"https://github.com/csheahan/check404\">found here</a>."
    }
  }

