-
  var work = {
    "Microsoft/Xbox, Full-Time": {
      Webpage: "http://www.microsoft.com/",
      Title: "Software Developer",
      DateRange: "August 2016 -",
      Logo: pathToRoot + "img/logos/xbox.png",
      Deliverables: [
      ]
    },
    "Microsoft/Xbox, Intern": {
      Webpage: "http://www.microsoft.com/",
      Title: "Xbox Live Social Services Intern",
      DateRange: "May 2015 - August 2015",
      Logo: pathToRoot + "img/logos/xbox.png",
      Deliverables: [
        "Wrote a service to provide back end functionality for web link posts " +
          "for the Xbox activity feed",
        "Wrote a service for retrieving a short description and main photo " +
          "given a webpage",
        "Extended an internal node.js application to provide easy and " +
          "extensible testing of new Xbox activity feed features"
      ]
    },
    Bazaarvoice: {
      Webpage: "http://www.bazaarvoice.com/",
      Title: "R&D Firebird TSF Intern",
      DateRange: "June 2014 - December 2014",
      Logo: pathToRoot + "img/logos/bazaarvoice.jpg",
      Deliverables: [
        "Worked on tickets concerning tools, support, and frameworks on " +
          "the Firebird product, a full stack JavaScript application to " +
          "collect and display ratings and reviews.",
        "Created a npm installable node.js module to interface with " +
          "various internal APIs within Bazaarvoice with the purpose of " +
          "data collection and aggregation. Also set up automated tasks " +
          "such as linting, unit testing, and documentation via gulp.",
        "Assisted in remaking a web interface for collecting and " +
          "displaying real time information and analytics for the Firebird " +
          "product."
      ]
    },
    Qualcomm: {
      Webpage: "https://www.qualcomm.com/",
      Title: "QCT Linux EIP Intern",
      DateRange: "May 2013 - August 2013",
      Logo: pathToRoot + "img/logos/qualcomm.png",
      Deliverables: [
        "Worked on a internal web application using html, javascript, " +
          "and php",
        "Created a stress tester application that will automate tests on " +
          "new Android phones and tablets"
      ]
    },
    "Founder-School": {
      Title: "Programmer",
      DateRange: "December 2012 - July 2013",
      Logo: pathToRoot + "img/logos/founderschool.png",
      Deliverables: [
        "Programmed back end using node.js coupled with the express and " +
          "compound.js frameworks",
        "Used MongoDB for database operations",
        "Prototyped front end design using Jade, bootstrap, and JavaScript"
      ]
    }
  }
